[Unit]
Description=DBS Monitor Server
After=network-online.target dbs-monitor-postgres.service
Wants=network-online.target

[Service]
Type=simple
User=dbsmon
Group=dbsmon
WorkingDirectory=/opt/dbs-monitor
EnvironmentFile=/opt/dbs-monitor/etc/dbs-monitor.env
ExecStart=/opt/dbs-monitor/bin/dbs-monitor-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
