[Unit]
Description=DBS Monitor PostgreSQL 17
After=local-fs.target

[Service]
Type=forking
User=dbsmon
Group=dbsmon
EnvironmentFile=/opt/dbs-monitor/etc/dbs-monitor.env
ExecStart=/opt/dbs-monitor/pgsql/bin/pg_ctl start -D ${PGDATA} -s -w -t 120
ExecStop=/opt/dbs-monitor/pgsql/bin/pg_ctl stop -D ${PGDATA} -s -m fast
ExecReload=/opt/dbs-monitor/pgsql/bin/pg_ctl reload -D ${PGDATA} -s
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
